@font-face {
  font-family: Rubik;
  font-weight: normal;
  src:  url(./fonts/Rubik/Rubik-VariableFont_wght.ttf) format('truetype')
}

@font-face {
  font-family: Rubik;
  font-weight: lighter;
  src:  url(./fonts/Rubik/Rubik-VariableFont_wght.ttf) format('truetype')
}

@font-face {
  font-family: Rubik;
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  src:  url(./fonts/Rubik/Rubik-VariableFont_wght.ttf) format('truetype')
}

@font-face {
  font-family: Rubik;
  font-style: italic;
  src:  url(./fonts/Rubik/Rubik-VariableFont_wght.ttf) format('truetype')
}
